<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home - Minha Aplicação</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Bem-vindo à Minha Aplicação Financeira</h1>
    <p>Gerencie suas finanças de forma simples e eficiente</p>
</header>

<main>

    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/images/banner4.png" alt="Banner 1">
                <img src="/images/banner5.png"  alt="Banner 2">
                <img src="/images/banner6.png"  alt="Banner 3">
            </div>
        </div>
    </div>

    <!-- Cards em container flex -->
    <div class="cards-container">
        <section class="card">
            <h2>Sobre Nós</h2>
            <p>Somos uma equipe dedicada a entregar soluções financeiras intuitivas e seguras.</p>
        </section>

        <section class="card">
            <h2>Contato</h2>
            <p>Email: felipenunex285@gmail.com</p>
            <p>Telefone: (82) 99930-3313</p>
            <p>Endereço: Rua São João, Arapiraca-AL</p>
        </section>
    </div>

    <section class="cardTable" style="width: 100%">
        <h2>Transações Recentes</h2>
        <div style="overflow-x:auto;">
            <table style="width:100%; border-collapse: collapse;" th:if="${transacoes}">
                <thead>
                <tr style="background-color: #00302b; color: white;">
                    <th style="padding: 10px; border: 1px solid #ddd;">Data</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Descrição</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Tipo</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Valor</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Categoria</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Conta</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Excluir</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transacao : ${transacoes}">
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${#temporals.format(transacao.data, 'dd/MM/yyyy')}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${transacao.descricao}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${transacao.tipo}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${#numbers.formatCurrency(transacao.valor)}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${transacao.categoria.nome}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" th:text="${transacao.conta.nome}"></td>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:center;" >
                        <form th:action="@{/api/financeiro/deletar_transacao}" method="post"
                              onsubmit="return confirm('Tem certeza que deseja excluir essa transação?');">

                            <input type="hidden" name="idTransacao" th:value="${transacao.id}" />

                            <button class="btn-excluir" type="submit">Excluir</button>
                        </form>


                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${transacoes == null or #lists.isEmpty(transacoes)}">Nenhuma transação encontrada.</p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Minha Aplicação. Todos os direitos reservados.</p>
</footer>
</body>
</html>
